<html>
  <head>
    <title>Lumi</title>
  </head>
  <body>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <h1>
      <a href="/">Lumi</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/prekeys/">Prekeys</a></li>
        <li><a href="/identities/">Identities</a></li>
        <li><a href="/groups/">Groups</a></li>
      </ul>
    </nav>
    {{#block "content" }}
    {{/block}}
  </body>
</html>
